*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    line-height: 30px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --pink: hsl(322, 100%, 66%);
    --verypalecyan: hsl(193, 100%, 96%);
    --verydarkcyan: hsl(192, 100%, 9%);
    --grayishblue: hsl(208, 11%, 55%);
    --white: hsl(0, 100%, 100%);
    --shadow: .5px .5px 3px 2px hsla(192, 100%, 9%,.1);
}
h1{
    font-size: 2rem;
    line-height: 40px;
}
h2{
    font-size: 1.7rem;
    line-height: 40px;
}
h3{
    font-size: 1.5rem;
    line-height: 40px;
}
p{
    margin: 20px 0px;
}
header{
    background-image: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
header>div, main>div, footer>div{
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 20px 0;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-button{
    width: 100%;
    padding: 10px 60px;
    background-color: var(--white);
    color: hsl(0, 100%, 0%);
    font-weight: bolder;
    border-radius: 25px;
    border: none;
    box-shadow: var(--shadow);
    font-size: 14px;
}
.nav-button:active{
    color:var(--grayishblue)
}
.flex{
    display: flex;
    width: 100%;
    margin: 40px auto 0 auto;
}
.flex-animation{
    transition: all .1s linear;}
.flex-animation:hover{
    transform: translateY(5px);
}
main .flex{
    margin-top:100px;
    padding: 60px;
    border-radius: 20px;
    box-shadow: var(--shadow);
}
.flex1{
    width: 50%;
    margin: auto;
    padding-right: 100px;
}
.flex3{
    width: 50%;
    margin: auto;
    padding-left: 100px;
}
.flex2{
    width: 50%
}
.flex img{
    width: 100%;
}
.pinkbutton{
    background-color: var(--pink);
    color:var(--white);
    padding: 10px 40px;
    border: none;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.pinkbutton:active{
    background-color:hsla(322, 100%, 66%,.5);
}
footer{
    color:var(--white);
    background-color: var(--verydarkcyan);
    margin-top: 100px;
}
footer>div>div{
    margin-top: 100px;
}
.float{
    background-color: var(--white);
    color:hsl(0, 100%, 0%);
    width: 50%;
    margin: auto;
    padding: 60px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    bottom: -250px;
    box-shadow: var(--shadow);
}
.float button{
    margin-top:20px;
}
.main-grid{
    display: grid;
    grid-template-columns: 50% 15% 15% 15%;
    grid-template-rows: 100%;
    margin-top: 20px;
}
.sub-grid{
    display: grid;
    grid-template-columns: 10% 80%;
    grid-template-rows: 100%;
    margin: 0 0 20px 0;
}

footer a{
    color:var(--white);
    text-decoration: none;
    line-height: 50px;
}
footer a:active{
    text-decoration: underline;
}
i{
    border: 2px solid var(--white);
    margin-right:10px;
    padding: 10px;
    border-radius: 50%;
    transition: all .1s linear;
}
i:active{
    border: 2px solid var(--pink);
    color:var(--pink);
    transform: translateY(3px);
}
#copyright{
    display: flex;
    justify-content: end;
    font-size: 13px;
}
nav div img{
    width: 100%
}
button{
    transition: all .1s linear;
}
button:active{
    transform: translateY(3px);
}
@media screen and (max-width:620px) {
    header{
        background-image: url(./images/bg-hero-mobile.svg);
    }
    .nav-button{
        padding: 5px;
        border-radius: 25px;
        font-size: 14px;
    }
    .flex{
        flex-direction: column;
    }
    .flex1{
        width: 90%;
        text-align: center;
        padding: 0;
    }
    main .flex{
        padding: 10px;
    }
    .flex3{
        width: 90%;
        margin: auto;
        padding: 0;
        text-align: center;
    }
    .flex2{
        width: 90%;
        margin: 30px auto;
    }
    header>div, main>div, footer>div{
        width: 90%;
        margin: 0 auto;
        padding: 40px 0 0 0;
    }
    .reverse{
        flex-direction: column-reverse;
    }
    .float{
        width: 90%;
        padding: 5px;
        text-align: center;
        border-radius: 20px;
        bottom: -100px;
    }
    footer>div>div{
        padding-top: 20px
    }
    footer{
        margin-top: 0;
    }
    .main-grid{
        grid-template-columns: 100%;
        grid-template-rows: 50% 20% 20% 10%;
        margin-top: 20px;
    }
    .icons{
        text-align: center;
    }
}